<table class="table table-hover">
    <tr>
      <td>菜单标题</td>
      <td><%= site_config.text1 %></td>
    </tr>
    <tr>
      <td>菜单评论</td>
      <td><%= site_config.text2 %></td>
    </tr>
    <tr>
      <td>有订单评论</td>
      <td><%= site_config.text3 %></td>
    </tr>
    <tr>
      <td>有订单评论列表</td>
      <td><%= site_config.text4 %></td>
    </tr>
    <tr>
      <td>无订单评论</td>
      <td><%= site_config.text5 %></td>
    </tr>
    <tr>
      <td>评论为空</td>
      <td><%= site_config.text6 %></td>
    </tr>
    <tr>
      <td>配送范围</td>
      <td><%= site_config.text7 %></td>
    </tr>
</table>

