  <%= simple_form_for(@site_config) do |f| %>

    <%= f.input :name, wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "name", class: "span2"), class: "add-on" %>
      <%= f.input_field :name, :as => :string, placeholder: "name", autofocus: true, :class => "span8" %>
    <% end %>

    <%= f.input :text1,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "网站域名", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text1, :as => :string, placeholder: "text1", :class => "span8" %>
    <% end %>

    <%= f.input :text2,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "网站名称", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text2, :as => :string, placeholder: "text2", :class => "span8" %>
    <% end %>

    <%= f.input :text3,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "网站标题", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text3, :as => :string, placeholder: "text3", :class => "span8" %>
    <% end %>

    <%= f.input :text5,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "text5", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text5, :as => :string, placeholder: "text5", :class => "span8" %>
    <% end %>

    <%= f.input :text6,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "text6", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text6, :as => :string, placeholder: "text6", :class => "span8" %>
    <% end %>

    <%= f.input :text7,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "text7", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text7, :as => :string, placeholder: "text7", :class => "span8" %>
    <% end %>

    <%= f.input :text8,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "text8", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text8, :as => :string, placeholder: "text8", :class => "span8" %>
    <% end %>

    <%= f.input :text9,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "text9", class: "span2"), :class => "add-on" %>
      <%= f.input_field :text9, :as => :string, placeholder: "text9", :class => "span8" %>
    <% end %>

    <div class="control-group">
      <div class="controls">
	  <%= f.button :submit, "提交", class: "btn" %>
      </div>
    </div>
  <% end %>
