<div class="span6 offset3">

  <table class="table table-hover">
    <tr>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @site_configs.each do |site_config| %>
    <tr>
      <td><%= site_config.name %></td>
      <td><%= link_to 'Show', site_config %></td>
      <td><%= link_to 'Edit', edit_site_config_path(site_config) %></td>
      <td><%= link_to 'Destroy', site_config, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to "创建配置", new_site_config_path %>
</div>
