<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @site_config.name %>
</p>

<p>
  <b>text1:</b>
  <%= @site_config.text1 %>
</p>

<p>
  <b>text2:</b>
  <%= @site_config.text2 %>
</p>

<p>
  <b>text3:</b>
  <%= @site_config.text3 %>
</p>

<p>
  <b>text4:</b>
  <%= @site_config.text4 %>
</p>

<p>
  <b>text5:</b>
  <%= @site_config.text5 %>
</p>

<p>
  <b>text6:</b>
  <%= @site_config.text6 %>
</p>

<p>
  <b>text7:</b>
  <%= @site_config.text7 %>
</p>

<p>
  <b>text8:</b>
  <%= @site_config.text8 %>
</p>

<p>
  <b>text9:</b>
  <%= @site_config.text9 %>
</p>
<%= link_to 'Edit', edit_site_config_path(@site_config) %> |
<%= link_to 'Back', site_configs_path %>
