<div class="accordion-group" id="blog_klass_<%= index %>_accordion_group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-parent="#blogs_accordion_group" data-toggle="collapse" href="#blog_<%= index %>_accordion_body">
          <%= klass[0] %>|<span class="collapse-state">展开</span>
        </a>

        <span class="right" style="margin-top: -30px;margin-right:10px;">
        <%= link_to "创建博文", new_blog_path(klass: klass[1]), target: "_blank" %>
        </span>
    </div>

    <div class="accordion-body collapse <%= index == 0 ? 'in' : '' %>" id="blog_<%= index %>_accordion_body">
        <div class="accordion-inner">
	  <%= render partial: "blogs/blog", locals: { blogs: blogs } if blogs %>
        </div>
        <!-- accordion-inner-->
    </div>
    <!--accordion-body-->
</div>
<!--accordion-group-->
