<% if mobile? %>
  <div class="span11" style="margin-left:12px;">
<% else %>
  <div class="span6 offset3">
<% end %>

  <style>
  .carousel-caption {
    padding: 3px 15px 3px 10px;
  }
  .carousel-caption h4 {
    margin: 0px;
  }
  </style>

  <p id="notice"><%= notice %></p>

  <h3>
    <%= @blog.title %>
  </h3>


  <div style="height:40px;">
    <%= @blog.created_at.strftime("%Y-%m-%d") %>
    <label class="label label-success right"><%= @blog.type %></label>
  </div>


  <div>
      <%= render partial: "blogs/carousel", locals: { blog: @blog } if @blog.pictures.size > 0 %>
  </div>

  <div>
    <%= @blog.markdown.html_safe %>
  </dvi>

</div>
