<% if mobile? %>
  <div class="span10 offset1">
<% else %>
  <div class="span6 offset3">
<% end %>

  <p id="notice"><%= notice %></p>

  <h3>
    <%= @blog.title %>
  </h3>


  <div style="height:40px;">
    <%= @blog.created_at.strftime("%Y-%m-%d") %>
    <a class="nolink"><%= @blog.author %></a>
    <label class="label label-success right"><%= @blog.type %></label>
  </div>


  <div>
    <%= @blog.markdown.html_safe %>
  </dvi>

  <% if user_signed_in? %>
    <%= link_to '编辑', edit_blog_path(@blog) %> |
    <%= link_to '返回', blogs_path %>
  <% end %>
</div>
