<div class="carousel slide" id="<%= dom_id fruit %>_carousel">
  <div class="carousel-inner">
  
  <% fruit.pictures.each_with_index do |picture, index| %>
    <div class="item <%= index == 0 ? 'active' : '' %>">
      <%= image_tag(picture.fruit_path) %>

      <div class="carousel-caption">
	<h4><%= picture.name %></h4>
	<p><%= picture.desc %></p>
      </div>
    </div>
  <% end %>
  </div>

  <% if fruit.pictures.size > 1 %>
    <a data-slide="prev" href="#<%= dom_id fruit %>_carousel" class="left carousel-control">‹</a>
    <a data-slide="next" href="#<%= dom_id fruit %>_carousel" class="right carousel-control">›</a>
  <% end %>

</div>
<script>
$(function(){
  $("#<%= dom_id fruit %>_carousel").carousel("pause");
});
</script>
