<div style="margin:20px 0px 80px 30px;width:400px;">
  <%= simple_form_for([@fruit_zone, @fruit], :remote => true) do |f| %>

    <%= f.input :name, wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "名称", class: ""), class: "add-on" %>
      <%= f.input_field :name, placeholder: "水果名称", autofocus: true, class: "span10" %>
    <% end %>

    <%= f.input :price, wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "价格", class: ""), class: "add-on" %>
      <%= f.input_field :price, placeholder: "水果价格", class: "span10" %>
    <% end %>

    <%= f.input :unit, wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "单位", class: ""), class: "add-on" %>
      <%= f.input_field :unit, placeholder: "每份/套/盒", class: "span10" %>
    <% end %>

    <%= f.input :desc,wrapper: :prepend, label: false do %>
      <%= content_tag :span, content_tag(:span, "描述", class: ""), :class => "add-on" %>
      <%= f.input_field :desc,:as => :string, placeholder: "水果描述", class: "span10" %>
    <% end %>

    <div class="control-group">
      <div class="controls">
	  <%= f.button :submit, "提交", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
