<%= javascript_include_tag "fruit" %>
<%= stylesheet_link_tag "blog" %>

<style>
form {
  margin-bottom: 10px;
  padding-top:5px;
}
</style>
<div class="span6">
  <h2 style="margin: 5px;">
    <% if params[:action] == "edit" %>
       编辑水果
       <small><%= link_to "显示", @fruit %> |</small>
    <% else %>
       新建水果
    <% end %>

    <small><%= link_to '返回', fruits_path %></small>
  </h2>

  <div id="preview">
  </div>
</div>

<div class="span6">

  <%= form_for(@fruit, class: "span8") do |f| %>
     <%= f.text_field :name, class: "span6", :placeholder => "水果名称", style: "margin-bottom:2px;" %>
     <%= f.text_field :price, class: "span2", :placeholder => "水果价格", style: "margin-bottom:2px;" %>
     <%= f.text_field :unit, class: "span2", :placeholder => "商品单位", style: "margin-bottom:2px;" %>
     <%= f.text_area :desc, class: "span12", style: "display:none;" %>
     <%= f.text_field :markdown, class: "span12", style: "display:none;" %>
     <%= f.submit t("btn.submit"), class: "btn btn-primary", style: "display:inline;"  %>
   <% end %> 
  <div id="markdown"></div>
</div>


<script>
$(function(){
  $("#fruit_pic").chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '120px'
   });
  /////////////////////////////

  var editor = ace.edit("markdown"),
      t = $("#preview"),
      converter = new Showdown.converter();

  var fruit = $("#fruit_desc").val();
  if(fruit.length >0 ) {
    editor.setValue(fruit);
  }
  var content  = editor.getValue();
  var markdown = converter.makeHtml(content);

  t.html(markdown);
  $("#fruit_desc").attr("value",content);
  $("#fruit_markdown").attr("value",markdown);

  editor.getSession().setUseWrapMode(true);
  editor.session.on("changeScrollTop", syncPreview);
  editor.session.selection.on("changeCursor", syncPreview);
});
</script>
