<div class="span6 offset3">

  <h3>水果列表
  </h3>

  <table class="table table-hover">
    <tr>
      <th>名称</th>
      <th>所属区</th>
      <th>价格</th>
      <th>介绍</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>

  <% @fruits.each do |fruit| %>
    <tr>
      <td><%= fruit.name %></td>
      <td><%= fruit.fruit_zones.first.name %></td>
      <td>
          <label class="center label label-info"> 
	    ￥ <%= fruit.price %>
	  </label>
      </td>
      <td><%= link_to '阅读', fruit %></td>
      <td><%= link_to '编辑', edit_fruit_path(fruit) %></td>
      <td>
	  <%= link_to '删除', fruit, confirm: '此动作不可撤消，肯定删除?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

</div>
