<%= javascript_include_tag "fruits" %>

<div
<% if mobile? %>
  class="span11 fruit"
<% else %>
  class="span6 offset3 fruit"
<% end %>
  id="<%= dom_id @fruit %>">

  <p id="notice"><%= notice %></p>

  <h3>
    <span class="name"><%= @fruit.name %></span> | 
   ￥<span class="price"><%= @fruit.price %></span>
  </h3>

  <div>
    <%= render partial: "fruits/carousel", locals: { fruit: @fruit } if @fruit.pictures.size > 0 %>
  </div>


  <div style="height:30px; margin-bottom:20px;">
    <label style="display:inline;"><a href="#comments">看评论</a>

    <span style="text-align:right" class="right">
	<span class="label label-info" style="height:25px;max-height:25px;">
	    <i class="icon-shopping-cart icon-white">
	    </i>
	    <% count = shop_cart_count(@shop_cart[:items],@fruit) %>
            <span class="count" style="display:none;"><%= count %></span>
	    <a href="/?weixin=<%= params[:weixin] || 'no' %>" class="add-to-cart" style="color:white;font-size:14px;">加入购物车</a>
	</span>
        &nbsp;&nbsp;
	<span class="label label-info" style="height:25px;max-height:25px;">
	    <a href="/?weixin=<%= params[:weixin] || 'no' %>" style="color:white;font-size:14px;" id="view_other">
	      <i class="icon-circle-arrow-up icon-white">
	      </i>
	      看其他
	    </a>
	</span>
    </span>
  </div>


  <div class="content" style="font-size:16px;">
    <%= @fruit.markdown.html_safe if @fruit.markdown %>
  </dvi>
 
  <% if @fruit.replies.size > 0 %>
    <h4>评论</h4>
    <div id="comments">
      <% @fruit.replies.each do |reply| %>
        <div class="comment">
	  <span><%= reply.name[0..1]+"**"+reply.name[reply.name.length-2..reply.name.length-1] %>:</span>
	  <span><%= reply.content.html_safe %></span>
	</div>
      <% end %>
    </div>
  <% end %>

  <%= render "fruits/already_in_cart_modal" %>

</div>
<script>
function shop_cart_list() {
  var weixin  = $("#hidden_weixin").attr("value");

  $.get("/shop_carts/list.json",
    {
      weixin: weixin
    },
    function(result){
      //alert(result.length);

      if(result.length>0) {
        $(".fruit").each(function(e){
          var id = $(this).attr("id");
          var count = 0;

          for(var i=0;i<result.length;i++) {
            var item = result[i];
            if(item.id == id)  {
	      count = parseInt(item.count);
            }
          }
	  if(count > 0 ) {
	    $("#"+id+" .count").html(count);
	    $("#"+id+" .add-to-cart").html("已加入购物车");
	  }
        });
      }
    }
  );
}
function add_to_cart(item) {
   operate_item("add",item);
}
function rm_from_cart(item) {
   operate_item("rm",item);
}
function operate_item(operation, item) {
  var weixin  = $("#hidden_weixin").attr("value");
  if(operation == "add") {
    url = "/shop_carts/add.json";
  } else {
    url = "/shop_carts/rm.json";
  }
  $.post(url,
  {
    weixin: weixin,
    item: item
  },
  function(data,status){
    //if(status=="success")
    console.log(status);
  });
}
$(function(){
  $(".fruit").each(function(){
      var id = $(this).attr("id");

      var name = $("#"+id+" .name").text();
      var price = parseInt($("#"+id+" .price").text());
      var count = parseInt($("#"+id+" .count").text());
      var item = { "id": id, "name": name, "price": price };

      $("#"+id+" .add-to-cart").click(function(){
	var count = parseInt($("#"+id+" .count").text());

	if(count==0){
	  add_to_cart(item);
	  //$("#"+id+" .count").html(count+1);
	  // $("#"+id+" .add-to-cart").html("已加入购物车");
	  $("#view_other").trigger("click");
	  //alert("f");
	} else {
	    $("#view_other").trigger("click");
	   //var shop_cart = "";
	   //shop_cart += "<div class='row-fluid' style='margin-bottom:3px;'>"
	   //shop_cart += "<span class='span4'>"
	   //shop_cart += "<span class='label label-info' style='height:15px;'>￥"+price+"</span>x<span>"+count+"</span>"
	   //shop_cart += "</span>"
	   //shop_cart += "<span class='span7'>"+name+"</span>"
	   //shop_cart += "<span class='span1'><i class='icon-remove'></i></span></div>"

	  //$("#already_in_cart_modal .modal-body").html(shop_cart);
	  //$("#already_in_cart_modal").modal("show");
	}
	  $("#view_other").trigger("click");
      });
  });
  
});
</script>
