  <%= link_to '创建文件夹', new_folder_path, class: "btn btn-primary", target: "blank" %>

  <table class="table table-hover">
    <tr>
      <th>文件夹</th>
      <th>描述</th>
      <th>图片数量</th>
      <th>明细</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>

  <% @folders.each do |folder| %>
    <tr>
      <td><%= folder.name %></td>
      <td><%= folder.desc %></td>
      <td><%= folder.pictures.size %></td>
      <td><%= link_to '明细', folder, class: "btn btn-mini btn-info", target: "blank" %></td>
      <td><%= link_to '编辑', edit_folder_path(folder), class: "btn btn-mini btn-success", target: "blank" %></td>
      <td><%= link_to '删除', folder, confirm: 'Are you sure?', method: :delete, remote: true,  class: "btn btn-mini btn-danger" %></td>
    </tr>
  <% end %>
  </table>

