<div class="span6 offset3">
  <p id="notice"><%= notice %></p>

  <h3>图片文件夹
    <small>
      <%= link_to '编辑', edit_folder_path(@folder) %> |
      <%= link_to '返回', folders_path %>
    </small>
  </h3>

  <p>
    <b>名称:</b>
    <%= @folder.name %>
  </p>

  <p>
    <b>描述:</b>
    <%= @folder.desc %>
  </p>


  <p>
    <b>图片数量:</b>
    <span id="folder_pictures_size"><%= @folder.pictures.size %></span>
  </p>


  <ul class="nav nav-tabs" id="folder_pictures">
    <li class="active">
      <a href="#picture_list">
        图片列表
      </a>
    </li>
    <li>
      <a href="#picture_upload">
       图片上传
      </a>
    </li>
    <li>
      <a class="nolink">
	<input type="text" size="50" placeholder="搜索图片" maxlength="255" id="search_picture" class="string span10">
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="picture_list">
	<%= render partial: "folders/picture_list" %>
    </div>

    <div class="tab-pane" id="picture_upload">
	<%= render partial: "folders/picture_upload" %>
    </div>
  </div>
   
  <%= render "folders/modal" %>

<script>
  //tab toggle show
  $(function () {
    $('#folder_pictures a:first').tab('show');
  });
  $('#folder_pictures a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

  //search picture
  $("#search_picture").keyup(function(){
     var id = $(this).attr("id");
     var input = document.getElementById("search_picture");
     var text = input.value;

     if(text.length > 0) {
        search(text)
     } else {
       $("#picture_list table tbody tr").removeAttr("style");
     }
  });

  function search(text) {
     $("#picture_list table tbody tr").each(function(e){
       var id = $(this).attr("id")
       var span = $("#"+id+" .name");
       var name = span.text();

       //alert(name.indexOf(text));
       if(name.indexOf(text) >= 0 ||
          text.indexOf(name) >= 0) {
	  $(this).removeAttr("style");
       } else {
	  $(this).css("display","none");
       }
     });
  }
</script>
</div>
