
  <ul class="nav nav-tabs" id="admin_tab">
    <li class="active">
      <a href="#tab_order">
        <%= @nav_tab_config.text2 || "订单管理" %>
      </a>
    </li>
    <li>
      <a href="#tab_fruit_zone">
        <%= @nav_tab_config.text3 || "专区管理" %>
      </a>
    </li>
    <li>
      <a href="#tab_fruit">
        <%= @nav_tab_config.text4 || "水果管理" %>
      </a>
    </li>
    <li>
      <a href="#tab_blog">
        <%= @nav_tab_config.text5 || "博文管理" %>
      </a>
    </li>
    <li>
      <a href="#tab_shop_cart">
        <%= @nav_tab_config.text7 || "购物车管理" %>
      </a>
    </li>
    <li>
      <a href="#tab_site_config">
        <%= @nav_tab_config.text8 || "全局显示配置" %>
      </a>
    </li>
  </ul>
