<style>
.tab-content .tab-pane {
  overflow: auto;
  padding-bottom: 100px;
}
.btn:active,
.btn:hover,
.btn:link,
.btn:visited,
.btn {
  color: black;
}
.btn-info,
.btn-success,
.btn-danger,
.btn-primary,
.btn-info:active,
.btn-info:hover,
.btn-info:link,
.btn-info:visited,
.btn-success:active,
.btn-success:hover,
.btn-success:link,
.btn-success:visited,
.btn-danger:active,
.btn-danger:hover,
.btn-danger:link,
.btn-danger:visited,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:link,
.btn-primary:visited {
  color: white;
}
</style>
<div class="main" style="margin: 0 auto; width:1100px;">
  <%= render partial: "admin/nav_tab" %>

  <div class="tab-content">
    <div class="tab-pane active" id="tab_order">
      <%= render template: "orders/index" %>
    </div>

    <div class="tab-pane" id="tab_fruit_zone">
      <%= render template: "fruit_zones/table" %>
    </div>

    <div class="tab-pane" id="tab_fruit">
      <div style="margin-bottom:20px;">
        <%= form_tag("fruit_zones/upload", remote: true, 
	  :class => 'form-horizontal', :multipart => true, :style => "display:inline;") do %>
	  <%= file_field_tag :file_url, :class => 'text_field' %>
	  <%= submit_tag "上传水果信息", class: "btn" %>
	<% end %> 

	<%= form_tag("fruit_zones/download.xls", 
	   :class => 'form-horizontal', :style => "display:inline;") do %>
	  <%= submit_tag "下载模板",  class: "btn" %>
	<% end %>
      </div>

      <%= render template: "fruit_zones/admin" %>
    </div>

    <div class="tab-pane" id="tab_blog">
      <%= render template: "blogs/index" %>
    </div>

    <div class="tab-pane" id="tab_picture">
      <%= render template: "folders/index" %>
    </div>

    <div class="tab-pane" id="tab_shop_cart">
      <%= render template: "shop_carts/index" %>
    </div>
    <div class="tab-pane" id="tab_site_config">
      <%= render template: "site_configs/1" %>
    </div>
     
  </div>
</div>

<%= render "admin/modal" %>
<script>
  $(function () { 
    $('#admin_tab a:first').tab('show');
  })
  $('#admin_tab a').click(function (e) { 
    e.preventDefault();
    $(this).tab('show');
  })
</script>
