<style>
.tab-content .tab-pane {
  overflow: auto;
  padding-bottom: 100px;
}
</style>
<div class="main" style="margin: 0 auto; width:1100px;">
  <ul class="nav nav-tabs" id="admin_tab">
    <li class="active">
      <a href="#tab_order">
        订单管理
      </a>
    </li>
    <li>
      <a href="#tab_fruit_zone">
        专区管理
      </a>
    </li>
    <li>
      <a href="#tab_fruit">
        水果管理
      </a>
    </li>
    <li>
      <a href="#tab_blog">
        博文管理
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab_order">
      <%= render template: "orders/index" %>
    </div>

    <div class="tab-pane" id="tab_fruit_zone">
      <%= render template: "fruit_zones/table" %>
    </div>

    <div class="tab-pane" id="tab_fruit">
      <div style="margin-bottom:20px;">
        <%= form_tag("fruit_zones/upload", remote: true, 
	  :class => 'form-horizontal', :multipart => true, :style => "display:inline;") do %>
	  <%= file_field_tag :file_url, :class => 'text_field' %>
	  <%= submit_tag "上传水果信息", class: "btn" %>
	<% end %> 

	<%= form_tag("fruit_zones/download.xls", 
	   :class => 'form-horizontal', :style => "display:inline;") do %>
	  <%= submit_tag "下载模板",  class: "btn" %>
	<% end %>
      </div>

      <%= render template: "fruit_zones/admin" %>
    </div>

    <div class="tab-pane" id="tab_blog">
      <%= render "admin/tab_blog" %>
    </div>
  </div>
</div>

<%= render "admin/modal" %>
<script>
  $(function () { 
    $('#admin_tab a:first').tab('show');
  })
  $('#admin_tab a').click(function (e) { 
    e.preventDefault();
    $(this).tab('show');
  })
</script>
