<div class="accordion-group" id="<%= dom_id fruit_zone %>_accordion_group">
    <div class="accordion-heading">
	<a class="accordion-toggle collapsed" data-parent="#fruit_zone_accordion_group" data-toggle="collapse" href="#<%= dom_id fruit_zone %>_accordion">
	  <%= fruit_zone.name %>|<span class="collapse-state">展开</span>
	</a>

	<span class="right" style="display:none;">
	<%= link_to "编辑", [:edit, fruit_zone], remote: true %> |
	<%= link_to "删除", fruit_zone, method: :delete, remote: true %>
	</span>
    </div>

    <div class="accordion-body collapse <%= index == 0 ? 'in' : '' %>" id="<%= dom_id fruit_zone %>_accordion">
	<div class="accordion-inner">
	  <% fruit_zone.fruits.each_with_index do |fruit, i| %>
	      <%= render partial: "fruit_zones/admin_fruit", locals: { fruit: fruit, fruit_zone: fruit_zone } if fruit %>
	  <% end %>
	</div>
	<!-- accordion-inner-->
    </div>
    <!--accordion-body-->
</div>
<!--accordion-group-->
