<div class="row-fluid fruit" id="<%= dom_id fruit %>">
    <div class="span4">
	<%= link_to "#{fruit.name}[#{fruit.unit}]", fruit, target: "_blank" %> 
    </div>
    <div class="span2">
      <span class="label label-warning">￥<span class="price"><%= fruit.price %></span></span>
    </div>
    <div class="span4">
      <%= link_to "编辑博文", [:edit, fruit], target: "_blank" %> |
      <%= link_to "编辑图片", [:images, fruit], target: "_blank" %> |
      <%= link_to "删除", [fruit_zone, fruit], method: :delete, remote: true, data: { confirm: "确定删除水果[#{fruit.name}]" } %>
    </div>

    <div class="span2">
      <% state = fruit.chk_state %>
      <% if state[0] %>
        <span class="label label-info"><%= state[1] %></span>
      <% else %>
        <% fruit_zone_state = fruit.fruit_zones.first.state %>
        <% if fruit_zone_state == "new" %>
	  <%= link_to "果仁新作", state_fruit_path(state: "new",id: fruit.id),
	    remote: true, class: "btn btn-mini btn-primary" %> 
	<% elsif fruit_zone_state == "onsale" %>
	  <%= link_to "今日推荐", state_fruit_path(state: "recommand",id: fruit.id),
	    remote: true, class: "btn btn-mini btn-primary" %> 
	<% end %>
      <% end %>
    </div>
</div>
