    <div class="accordion" id="fruit_zone">

        <% @fruit_zones.each_with_index do |fruit_zone, index| %> 
          <div class="accordion-group">
              <div class="accordion-heading">
                  <a class="accordion-toggle collapsed nolink" data-parent="#fruit_zone" data-toggle="collapse" href="#<%= dom_id fruit_zone %>">
                    <%= fruit_zone.name %>|<span class="collapse-state">展开</span>
		  </a>
              </div>

              <div class="accordion-body collapse <%= index == 0 ? 'in' : '' %>" id="<%= dom_id fruit_zone %>">
                  <div class="accordion-inner">
		    <% fruit_zone.fruits.each_with_index do |fruit, i| %>
                          <div class="row-fluid fruit" id="<%= dom_id fruit %>">
                              <div class="span6">
                                  <a class="nolink"><span class="name"><%= fruit.name %></span></a>
                              </div>
                              <div class="span2">
                                <span class="label label-warning">￥<span class="price"><%= fruit.price %></span></span>
                              </div>
                              <div class="span4">
                                  <a class="btn btn-mini buy-less"> <i class="icon-minus"> </i> </a>
                                  <span class="count">0</span>
                                  <a class="btn btn-mini btn-primary buy-more"> <i class="icon-plus icon-white"> </i>
                                  </a>
                              </div>
                          </div>
		    <% end %>
                  </div>
		  <!-- accordion-inner-->
              </div>
	      <!--accordion-body-->
          </div>
	  <!--accordion-group-->
	<% end %>

    </div>

    <div style="color:white;background:black;" class="navbar-fixed-bottom">
        <div class="row-fluid">
            <div class="span4"></div>
            <div style="text-align:right" class="span7">
                <span ng-click="showShopCart()" class="label label-info ng-binding">
                    <i class="icon-shopping-cart icon-white">
                    </i>
                    <span class="total-count">0</span>
                    &nbsp;&nbsp;总价￥<span class="total-price">0</span>
                </span>

                    <a onclick="order_submit();" style="margin:7px" class="btn btn-info">结帐</a>
            </div>
            <div class="span1"></div>
        </div>
    </div>
<script>
  function order_submit() {
    var order_state = check_out();    
    if(order_state[0]==0) {
      alert("请选择水果");
    } else {
      $(".order-modal").modal("show");
    }
  }

  //遍历所有单类水果计算总数量与总价
  function check_out() {
    var total_count = 0;
    var total_price = 0;
    $(".fruit").each(function(e){
       var id = $(this).attr("id");
       var name  = parseInt($("#"+id+" .name").text());
       var price = parseInt($("#"+id+" .price").text());
       var count = parseInt($("#"+id+" .count").text());
       var result = price * count;
       total_count += count;
       total_price += result;
    });
    //alert(total_count);
    $(".total-count").text(total_count);
    $(".total-price").text(total_price);
    return [total_count, total_price];
  };


  //购物车信息=> json
  //购物车列表
  function chk_order_list() {
    var list = new Array();
    var shop_cart  = "";
    var order_info = "";

    $(".fruit").each(function(e){
       var id = $(this).attr("id");
       var name = $("#"+id+" .name").text();
       var price = parseInt($("#"+id+" .price").text());
       var count = parseInt($("#"+id+" .count").text());
       if(count > 0) {
         //list.push('{' + '"id":'+ id.split("_")[1]+ ',"count":' + count + ',"price":' +  price +'}')
	 var json = {"id": id.split("_")[1], "name": name, "count": count, "price": price};
	 list.push(JSON.stringify(json));

	 shop_cart += "<div class='row-fluid' style='margin-bottom:3px;'><span class='span4'><span class='label label-info' style='height:15px;'>￥"+price+"x"+count+"</span></span><span class='span7'>"+name+"</span><span class='span1'><i class='icon-remove'></i></span></div>"

	 order_info += "<div class='row-fluid' style='margin-bottom:3px;'><span class='span4'><span class='label label-info' style='height:15px;'>￥"+price+"x"+count+"</span></span><span class='span8'>"+name+"</span></div>"
       }
    });
    var order_rt = check_out();
    order_info += "<div class='row-fluid' style='margin-bottom:3px;'><span class='span4'>数量:<span class='label label-info'>" + order_rt[0] + "</span></span><span class='span6'>总金额:<span class='label label-info'>" + order_rt[1] + "</span></span></div>"

    $("#order_list").attr("value","["+list.toString()+"]");
    $("#order_info").attr("value", order_info);
    $("#order_count").attr("value", order_rt[0]);
    $("#order_checkout").attr("value", order_rt[1]);
    $(".order-items").html(shop_cart);
  }

  function toggle_show_order_list(what) {
    if(what==true) {
      $(".order-form").css("display","none");
      $(".order-list").css("display","block");
    } else {
      $(".order-form").css("display","block");
      $(".order-list").css("display","none");
    }
  }
$(function(){
  //添加或删减水果
  $(".fruit").each(function(e){
      var id = $(this).attr("id");
      //add 
      $("#"+id+" .buy-more").click(function(){
        var $buy_count = $("#"+id+" .count");
        var already_budy = parseInt($buy_count.text());
        already_budy += 1;
        $buy_count.text(already_budy);
        check_out();
        chk_order_list();
      });
      //plus
      $("#"+id+" .buy-less").click(function(){
        var $buy_count = $("#"+id+" .count");
        var already_budy = parseInt($buy_count.text());
        if(already_budy>0) 
          already_budy -= 1;
        $buy_count.text(already_budy);
        check_out();
	chk_order_list();
      });
  });

});
</script>

<%= render "modal" %>
<%= render "orders/modal_success" %>
