<%= simple_form_for(@order, :remote => true) do |f| %>

  <%= f.input_field :item_list, :as => :hidden %>
  <%= f.input_field :weixin, :as => :hidden %>
  <%= f.input_field :info, :as => :hidden %>
  <%= f.input_field :count, :as => :hidden %>
  <%= f.input_field :checkout, :as => :hidden %>

  <%= f.input :name, wrapper: :prepend, label: false do %>
    <%= content_tag :span, content_tag(:span, "姓名", class: ""), class: "add-on" %>
    <%= f.input_field :name, placeholder: "如何称呼", autofocus: true %>
  <% end %>

  <%= f.input :phone,wrapper: :prepend, label: false do %>
    <%= content_tag :span, content_tag(:span, "电话", class: ""), :class => "add-on" %>
    <%= f.input_field :phone, :as => :integer, :require => true, placeholder: "* 手机号码(11位数字)" %>
  <% end %>

  <%= f.input :address, wrapper: :prepend, label: false do %>
    <%= content_tag :span, content_tag(:span, "地址", class: ""), :class => "add-on" %>
    <%= f.input_field :address, :require => true, placeholder: "* 配送地址" %>
  <% end %>

  <%= f.input :date_at, wrapper: :prepend, label: false do %>
    <%= content_tag :span, content_tag(:span, "时间", class: ""), :class => "add-on" %>
    <%= f.select :date_at, @order.date_at_list.collect { |m| [m,m] }, group_label_method: false%>
  <% end %>

  <%= f.input :remark, wrapper: :prepend, label: false do %>
    <%= content_tag :span, content_tag(:span, "留言", class: ""), :class => "add-on" %>
    <%= f.input_field :remark, :as => :string, placeholder: "意见建议" %>
  <% end %>

  <div class="control-group text">
    <div class="controls" style="font-size:10px;line-height:12px;">
      <span style="color:red;">
      温馨提示:
      </span>
      <span class="order-warn">
      </span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <div class="center">
	<input type="button" value="查看购物车" class="btn" onclick="toggle_show_order_list(true);">
	<%= f.button :submit, "确认下单", disabled: true, class: "btn" %>
      </div>
    </div>
  </div>
<% end %>

