<table class="table" style="width:500px">

    <tr>
      <td>微信</td> <td><%= @order.weixin %></td>
    </tr>

    <tr>
      <td>姓名</td> <td><%= @order.name %></td>
    </tr>

    <tr>
      <td>电话</td> <td><%= @order.phone %></td>
    </tr>

    <tr>
      <td>地址</td> <td><%= @order.address %></td>
    </tr>

    <tr>
      <td>时间</td> <td><%= @order.date_at %></td>
    </tr>

    <tr>
      <td>备注</td> <td><%= @order.remark %></td>
    </tr>

</table>
